@charset "utf-8";

/* font-family: 'VT323', monospace; */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* font-family: 'Silkscreen', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background-color: black;
  color: white;
  width: 400px;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

.block-text {
  display: block;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap:break-word;
}

.underline-links:hover {
  text-decoration: underline;
}

.input-transparent {
  background-color: transparent;
}

.contents {
  font-size: 1.2rem;
}

.pixel-title {
  font-family: 'Silkscreen', cursive;
  font-weight: 400;
}

.pixel-text {
  font-family: 'VT323', monospace;
  font-weight: 400;
}

@media screen and (max-width: 960px) {
  /*
    .section {
      padding-top: 0px;
    }
  
    #nav-menu,
    #nav-title,
    #nav-connect {
      display: none;
    }
  
    #nav-bar-sm,
    #nav-title-sm,
    #nav-connect-sm {
      display: flex;
    }
    
    #people-button-group {
      display: none;
    }
  
    #people-button-group-md {
      display: block;
    }
    */
}